* {
  box-sizing: border-box !important;
}

body{
  margin: 0;
  padding: 0;
  background: #233637;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diamond {
  width: 200px;
  height: 200px;
  position: relative;
  transform: rotate(45deg);
  /* animation: spinDiamond 5s infinite;
  animation-delay: 1s; */
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 8s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: 1s;
  border-color: red transparent transparent transparent;
}
.lds-ring div:nth-child(2) {
  animation-delay: 2s;
  border-color: blueviolet transparent transparent transparent;
}
.lds-ring div:nth-child(3) {
  animation-delay: 5s;
  border-color: blue transparent transparent transparent;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}








/* .diamond {
  position: relative;
  width:  200px;
  height: 200px;
  transform: rotate(45deg);
}

span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 50px solid #00bbbb;
  border-bottom: 50px solid #00a7a7;
  border-left: 50px solid transparent;
}

span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #00f6f6;
  border-right: 50px solid #00bbbb;
  border-bottom: 50px solid #00a7a7;
  border-left: 50px solid #00e2e2;
}

span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid #00f6f6;
  border-right: 50px solid #00bbbb;
  border-bottom: 50px solid #00a7a7;
  border-left: 50px solid #00e2e2;
}

span:nth-child(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #00f6f6;
  border-right: 50px solid #00bbbb;
  border-bottom: 50px solid #00a7a7;
  border-left: 50px solid #00e2e2;
} */
