body {
    padding: 0;
    margin: 0;
    background: #f7f7f7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.head {
    position: relative;
}


.head-top {
    position: relative;
    width: 250px;
    height: 250px;
}

.ears-left {
    display: inline-block;
    width: 0;
    border-top: 0px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 225px solid #000000;
    border-left: 75px solid transparent;
    border-radius: 20px;
    position: absolute;
    left: -50px;
    top: 50px;
}

.ears-right {
    display: inline-block;
    width: 0;
    border-top: 0px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 225px solid #000000;
    border-left: 150px solid transparent;
    position: absolute;
    border-radius: 20px;
    right: -50px;
    top: 50px;
}

.eyes {
    width: 250px;
    height: 150px;
    background: #000000;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    margin: 0 auto;
    position: absolute;
    top: 130px;
}

.eye-left, .eye-right {
    width: 100px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    border: 5px solid #000000;
}

.eye-left {
    left: 18px;
}

.pupil-left {
    width: 25px;
    height: 50px;
    border-radius: 50%;
    background: #000000;
    position: absolute;
    top: 65%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.pupil-right {
    width: 25px;
    height: 50px;
    border-radius: 50%;
    background: #000000;
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.eye-right {
    left: 123px;
}

.head-bottom {
    width: 250px;
    height: 150px;
    background: #000000;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    margin: 0 auto;
    position: relative;
    z-index: -1;
}

.nose {
    width: 50px;
    height: 35px;
    border-radius: 50%;
    background: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mounth {
    width: 220px;
    height: 135px;
    background: #ffffff;
    border-bottom-left-radius: 125px;
    border-bottom-right-radius: 125px;
    margin: 0 auto;

}